/*Styling for TOP-calculator*/
body {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #F3E9B9;
}

button {
    width: 65px;
    height: 65px;
    background-color: #CF9F8F;
    font-size: larger;
    font-weight: 700;
}

button:hover {
    background-color: #E0A370;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    align-items: center;
}

.digits {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

.display {
    width: 365px;
    height: 100px;
    background-color: #8F8FDF;
    margin: 20px;
}

.display-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
}

.display-text p {
    margin: 0;
    margin: 2px;
    font-size: 24px;
    font-weight: 600;
}

.nums {
    height: 27px;
}

